<app-header></app-header>
<div id="projects" class="projects">

    <div class="tecs-titles">
        <h1 class="h1-tecs" id="txtLang_en">Projects</h1>
        <h3 class="h3-tecs" id="txtLang_en">in which I have participated</h3>
    </div>

    <div class="pro-cards">
        <div class="card">
            <div class="tittle">
                <p id="txtLang_en">
                    Management System For Senescyt
                </p>
            </div>
            <div class="body">
                <p class="txt-body" id="txtLang_en">
                    Technologies such as Java, Angular and VSCode were used, I worked on the app's logic in <strong><a
                            href="https://github.com/Alejo2412qwe/SNC_back.git"
                            style="color: black;">BackEnd</a></strong> creating all the
                    CRUDs
                    Just as I helped with the security in which the tokens were used, I also helped by creating and
                    using a
                    guard and performing certain interfaces in the <strong><a
                            href="https://github.com/Alejo2412qwe/SNC_front.git"
                            style="color: black;">FrontEnd</a></strong>, here too
                    I worked all the CRUDs,
                    services, etc. In this project I took the role of SCRUM Master.
                </p>
                <img src="assets/img/snc.png" class="img">
            </div>
        </div>

        <div class="card">
            <div class="tittle">
                <p id="txtLang_en">
                    Event Hall
                </p>
            </div>
            <div class="body">
                <p class="txt-body" id="txtLang_en">
                    This was an end-of-semester project but it was carried out for the Ecuadorian company
                    Perruncay, technologies such as Java, Angular and
                    VSCode, here I also had
                    participation in the <strong><a href="https://github.com/Alejo2412qwe/SalonDeEventosM5ABack.git"
                            style="color: black;">BackEnd</a></strong> performing different CRUDs, class modeling,
                    I also made flowcharts, class diagrams, etc. In the <strong><a
                            href="https://github.com/Alejo2412qwe/SalonDeEventosM5A.git"
                            style="color: black;">FrontEnd</a></strong> I also made sections such as modeling
                    classes, I did a little security and finally I was in the role of SCRUM Master.
                </p>
                <img src="assets/img/perruncay.png" class="img">
            </div>
        </div>
    </div>
</div>