<app-header></app-header>

<div class="about-titles">
    <h1 class="h1-tecs" id="txtLang_en">About Me</h1>
    <h3 class="h3-tecs" id="txtLang_en">Hi there,</h3>
</div>

<div class="aboutme">
    <div class="card">
        <div class="body">
            <p class="txt-body" id="txtLang_en">
                My name is Alejandro José Coraspe Cedeño and I am currently dedicated to
                software development. I consider myself more of a BackEnd developer because I like to handle the
                business logic, although I would have no problem handling FrontEnd.
            </p>

            <img src="assets/img/perfil.jpg" class="img">
        </div>
    </div>
</div>