<app-header></app-header>
<div class="contact" id="contact">

    <div class="tecs-titles">

        <h1 class="h1-tecs" id="txtLang_en">Contact</h1>
        <h3 class="h3-tecs" id="txtLang_en">My social networks</h3>
    </div>

    <div class="sociales">
        <a href="https://www.facebook.com/alejandro.coraspe.56/?locale=es_LA">
            <img src="https://www.facebook.com/images/fb_icon_325x325.png" class="icon">
        </a>
        <a href="https://www.instagram.com/ale_cora2412/">
            <img src="https://static.vecteezy.com/system/resources/previews/017/743/717/original/instagram-icon-logo-free-png.png"
                class="icon">
        </a>
        <a href="https://www.linkedin.com/in/alejandro-coraspe-a7176a242">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/LinkedIn_icon_circle.svg/2048px-LinkedIn_icon_circle.svg.png"
                alt="" class="icon">
        </a>
        <a href="https://github.com/Alejo2412qwe">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" class="icon">
        </a>
    </div>

    <div class="formulario">
        <form action="https://formspree.io/f/xkndrjll" method="POST" onsubmit="submitForm(event)">
            <label>
                <p id="txtLang_en">
                    Your Email:
                </p>
                <input type="email" name="email" class="email-input">
            </label>
            <label>
                <p id="txtLang_en">
                    Your message:
                </p>
                <textarea name="message" class="message-input"></textarea>
            </label>
            <button type="submit">
                <p id="txtLang_en">
                    Send
                </p>
            </button>
        </form>
    </div>
</div>